
.packages-container {

  .card {
    position: relative;
    overflow: hidden;
  }

  .events-carousel .card .card-copy {
    align-items: inherit;
    justify-content: inherit;
  }

  .cta--button {
    display: block;
    width: 100%;
  }

  .card-header {
    background-color: #fff;
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 160px;
  }

  .card-content {
    p {
      width: 100%;
      text-align: left;
    }
  }

  .card-title {
    width: 100%;
    text-align: left;
  }

  .card-status {
    border-radius: 2px;
    margin-left: .5rem;
    display: inline-block;
    background-color: #eadef8;
    color: $heliotrope;
    padding: 0.11rem .5rem 0.01rem;
    font-size: 0.8rem;
    vertical-align: text-top;
  }

}
